espflasher
tools/.venv/
firmware/*.bin
iso/*
logs/*
bootloaders
!.gitkeep

__pycache__/
*.part

# Ignore all projects except default ones
projects/*
!projects/README.md
!projects/project1_hello_world/
!projects/project2_blink/
!projects/project3_wifi_scanner/
config.json
